@model OptimumHR.Models.VacationBalance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VacationBalance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input type="number" asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysUsed" class="control-label"></label>
                <input asp-for="DaysUsed" class="form-control" />
                <span asp-validation-for="DaysUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacRuleId" class="control-label">Vacation Rule</label>
                <select asp-for="VacRuleId" class="form-select" required>
                    @foreach (var item in (List<VacRule>)ViewData["Rules"])

                    {
                        <option value=@item.Id>@item.Name</option>

                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                    <input type="number" readonly asp-for="EmployeeId" class="form-control" />
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
